<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<node node-label="{{ node_label }}" foreign-id="{{ foreign_id }}" building="{{ building }}">
 <interface snmp-primary="{{ snmp_primary }}" status="1" ip-addr="{{ ip_addr }}" descr="{{ description }}">
  <monitored-service service-name="{{ service_name }}"/>
 </interface>
</node>